<div class="details_container">
  <h1><%= @book.title %></h1>
  <p class="book_description"><%= @book.description %></p>

  <% if @book.user_id == current_user.id %>
    <div class='extra_book_actions'>
      <h3 class="status_title">Status: <span id='status'><%= @book.status %></span></h3>

      <ul class='status_links'>
        <% Book::STATUS.each do |status| %>
          <li><%= link_to(status, change_status_book_path(@book, status: status), method: :patch, remote: true) %></li>
        <% end %>
      </ul>

      <h3 class="privacy_title">Privacy: <span id='privacy'><%= @book.privacy %></span></h3>

      <ul class='privacy_links'>
        <% Book::PRIVACY.each do |privacy| %>
          <li><%= link_to(privacy, change_privacy_book_path(@book, privacy: privacy), method: :patch, remote: true) %></li>
        <% end %>
      </ul>
    </div>

    <ul class="book_actions">
      <li><%= link_to 'Edit', edit_book_path %></li>
      <li><%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure?'}, class: 'delete' %></li>
    </ul>
  <% end %>

  <h3>Comment: </h3>
  <%= render partial: "comments/form", locals: {commentable: @book} %>

  <div id='comments'>
    <%= render partial: "books/comments/comment", collection: @book_comments %>
  </div>
</div>
