<h1><%= @book.title %></h1>
<%= link_to 'Delete', book_path(@book), method: :delete, data: {confirm: 'Are you sure?'} %>
<ul>
  <%= book_change_status(@book) %>
  <%= book_change_privacy(@book) %>
</ul>

<%= link_to 'Edit', edit_book_path %>

<h3>Comments</h3>
<%= render partial: "comments/form", locals: {commentable: @book} %>
<% @book.comments.each do |comment| %>
  <div><%= comment.body %></div>
  <div><%= comment.user.name %></div>
<% end %>
