<div class="details_container">
  <h1><%= @book.title %></h1>
  <p class="book_description"><%= @book.description %></p>

    <div class='extra_book_actions'>
      <h3 class="status_title">Status: <span id='status'><%= @book.status %></span></h3>
      <ul class='status_links'>
         <%= @book_decorate.book_status %>
      </ul>

      <h3 class="privacy_title">Privacy: <span id='privacy'><%= @book.privacy %></span></h3>
      <ul class='privacy_links'>
         <%= @book_decorate.book_privacy %>
      </ul>
    </div>

    <ul class="book_actions">
      <%= @book_decorate.book_actions %>
    </ul>
</div>

<h3>Comment: </h3>
<%= render partial: "comments/form", locals: {commentable: @book} %>

<div id='comments'>
  <%= render partial: "books/comments/comment", collection: @book_comments %>
</div>
