<!DOCTYPE html>
<html>
  <head>
    <title>BookZoon</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar">
      <div class="logo">BooksZone</div>
      <ul class="nav_links">
        <li><%= link_to('Home', root_path) %></li>
        <% if current_user %>
          <li><%= link_to('Profile', user_profile_path) %></li>
          <li><%= link_to('New Book', new_book_path) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
        <% end %>

        <% if !current_user %>
          <li><%= link_to('Login', new_user_session_path) %></li>
          <li><%= link_to('Signup', new_user_registration_path) %></li>
        <% end %>
      </ul>
    </nav>
    <header class="main_header"></header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main class="main">
      <%= yield %>
    </main>
  </body>
</html>
